<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	  <connectionStrings>
		    <add name="_2811Aula"
				 connectionString="Data Source=localhost; Initial Catalog=_2811Aula; User ID=_2811Aula; password=senha1234;language=Portuguese"
				 providerName="SqlClient"/>
		  
	</connectionStrings>
</configuration>