body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

#colorSelector {
    margin: 20px;
}

.color-dropdown {
    font-size: 16px;
    padding: 5px;
    transition: background-color 0.5s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .color-dropdown {
        font-size: 14px;
        padding: 5px;
    }
}
